@use '../../../sassStyles/variables'; 


.steps-title{
    color: variables.$orange-color; 
}

.steps-container{
    display: grid; 
    grid-template-columns: 50% 50%;
}

.steps-image{
    height: 400px;
    width:100%;
}
.step-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align: center;

}

