

.footer-container{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #B64201;
    display:flex;
   // box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);


}