// @import "../../sassStyles/variables";
@import "../../../sassStyles/variables";

.footer-container {
  //  position:relative;
  // position: fixed; /* Set the footer to fixed position */
  bottom: 0;
  // height: 55px;
  width: 100%; /* Full width */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);

  .footer-row {
    display: flex;
    margin: 10px 0 10px 0;

    a {
      padding: 0 15px 0 15px;
      text-decoration: none;
      color: $panel-heading;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $turquoise;
    }
  }

  p {
    padding-bottom: 20px;
  }
}

// @media (max-width: 700px) {
//   .footer-container{
//     display:none;
//   }
// }
