.benefits-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px 50px 60px 50px;
  background-color: $light-gray-background;
  .benefits-header {
    align-self: center;
    color: $panel-heading;
  }
  .benefits-under-title {
    align-self: center;
    font-size: 16px;
    margin-top: 25px;
  }

  .benefit-boxes-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .benefit-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      padding: 15px 10px 0px 10px;
      text-align: center;
      .benefits-icon {
        color: $turquoise;
      }
      .benefit-header {
        margin-top: 14px;
        font-size: 18px;
      }
      .benefit-text {
        color: $faded-font-color;
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  .benefit-boxes-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .benefit-boxes-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .benefit-boxes-container {
    width: 1170px;
  }
}

@media (max-width: 1000px) {
  .benefits-container {
    .benefits-under-title {
      text-align: center;
    }

    .benefit-boxes-container {
      flex-direction: column;

      .benefit-box {
        width: 100%;
      }
    }
  }
}
