.home-page {
  display: flex;
  flex-direction: column;
}

.welcome-container {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: url("background-tlv.jpg") no-repeat center center fixed;
  background-size: cover;

  .swappy-header {
    position: absolute;
    color: white;
    align-self: center;
    top: 96px;
    font-weight: 700;
    font-size: 65px;
  }

  .search-home-container {
    align-self: center;
    background-color: #eafcebc2;
    border-radius: 2px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    width: 60vw;

    .search-header {
      margin-left: 20px;
      padding-top: 22px;
      padding-bottom: 22px;
      font-weight: 700;
      font-size: 30px;
    }
    .search-boxes-container {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      margin-left: 20px;
      //  justify-content: center;
    }

    .submit-search-button {
      background-color: $darkerOrange;
      margin-left: 10px;
      border: none;
      color: white;
      padding: 10px 15px 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
      border-radius: 3px;
      display: flex;
      text-align: center;
      align-items: center;
    }

    .submit-search-button:hover {
      background-color: $shadedOrange;
    }

    .search-box {
      margin-right: 10px;
      border: none;
      border-radius: 3px;
      background-color: $light-gray-background;
      padding-left: 12px;
      width: 220px;
      padding: 10px;
      opacity: 0.7;
    }
    .search-box:focus {
      outline: none;
      box-shadow: 0 0 3px #3b99fc;
    }

    .search-box::placeholder {
      color: $panel-heading;
      // opacity: 0.6;
    }
  }
}

@media (max-width: 900px) {
  .welcome-container {
    .swappy-header {
      font-size: 50px;
    }

    .search-home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75vw;
      .search-header {
        margin: 0px;
      }
      .search-boxes-container {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        .search-box {
          margin-right: 0px;
        }
        .submit-search-button {
          margin-left: 0px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .welcome-container {
    .swappy-header {
      text-align: center; // font-size:32px;
    }
  }
}
