
//you could nest css with sass

.benefits-container{
    display:flex; 
    flex-direction: column;
    width:100%; 
    height:250px;
    margin-top: 20px;
  padding-right: 100px;
  padding-left:100px;
    
}

.benefits-header{
    align-self: center;
}

.icons-container{
   display:flex;
   justify-content: space-between;
}

.benefit-box{
display:flex;
flex-direction: column;
align-items: center;
    width: 30vw;
    padding: 15px 10px 10px 10px;
    text-align:center;
}