.navigation-bar {
  position: fixed !important;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 8px 15px 8px 15px;
  z-index: 999;

  .nav-search-box-container {
    position: absolute;
    left: 70px;
    display: flex;

    .search-box {
      font-size: 16px;
      border: 1px solid $faded-border;
      width: 220px;
      padding: 10px;
      opacity: 0.7;
    }
    .search-box:hover {
      border: 1px solid $turquoise-faded;
    }

    .search-box:focus {
      outline: none;
      border: 1px solid $turquoise-faded;
    }

    .search-box::placeholder {
      color: $turquoise;
      opacity: 0.8;
    }

    .submit-search {
      color: $darkerOrange;
      border-color: $faded-border;
      transition: all 0.3s ease;
      border-radius: 0px;
    }

    .submit-search:hover {
      background-color: #ffffff;
      border-color: $darkerOrange;
    }
  }

  .nav-search-box-container-hidden {
    display: none !important;
  }
}

.navigation-bar a {
  color: $panel-heading;
  text-decoration: none;
}

.navigation-bar a:hover {
  color: $turquoise;
  transition: all 0.3s ease;
}

.logo-container {
  margin-bottom: auto;
  height: 40px;
  width: 40px;
}
.logo-image {
  height: 100%;
  width: 100%;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;

  .profile-logout-container {
    display: flex;
    align-items: center;
    .logout-button {
      margin-left: 40px;
      display: flex;
      align-items: center;

      .css-i4bv87-MuiSvgIcon-root {
        width: 20px;
      }

      .tooltiptext {
        visibility: hidden;
        width: 70px;
        background-color: $darkerOrange;
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 3px;
        position: absolute;
        z-index: 1;

        top: 100%;
        margin-left: -37px; /* Use half of the width (120/2 = 60), to center the tooltip */
      }
    }

    .logout-button:hover .tooltiptext {
      visibility: visible;
    }
  }
}

#toggler {
  display: none;
}

@media (max-width: 500px) {
  .nav-search-box-container {
    display: none !important;
  }

  .closed-menu {
    width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .closed-menu > .list {
    opacity: 0;
    transition: all 0.5s ease;
  }

  @keyframes appearanceOpacity {
    0% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .open-menu {
    opacity: 1;
    animation-name: appearanceOpacity;
    animation-duration: 1000ms;
    height: 150px;
    transition: height 0.3s ease;
  }

  .open-menu > .list {
    opacity: 1;
    transition: opacity 0.8s ease;
  }

  .list {
    flex-direction: column;
    align-items: center;
    .profile-logout-container {
      flex-direction: column;
      .logout-button {
        margin-left: 0px;
        margin-top: 15px;
      }
    }
  }

  #toggler {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }

  .responsive-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
