@import "../../../../sassStyles/variables";

.profile-edit-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;

  .grid-container-edit {
    .nav-grid-column {
      .nav-links-container {
        position: fixed;
        display: flex;
        flex-direction: column;

        .active-nav-link {
          color: $darkerOrange;
        }

        .nav-link-regular {
          color: $font-color;
        }
      }
    }

    .panel-heading {
      color: $panel-heading;
      padding: 15px 30px;
      font-weight: 700;
      border: 1px solid #e3e3e3;

      // border-bottom: 1px solid transparent;
      // border-top-left-radius: 1px;
      // border-top-right-radius: 1px;
    }
    .panel-body {
      padding: 20px 30px;
      border: 1px solid #e3e3e3;
      border-top: none;
    }
    .panel {
      margin-bottom: 100px;

      .profile-image-upload-container {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        // height: 99px;
        .profile-image-box {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 99px;
          height: 99px;

          .delete-button-container {
            border-radius: 50%;

            position: absolute;
            text-align: center;
            opacity: 0;
            transition: opacity 0.45s ease;
            height: 100%;
            width: 100%;

            .delete-button {
              top: 20%;
              margin-top: auto;
            }
          }

          .profile-img {
            object-fit: cover;
            border-radius: 50%;
          }
          // .delete-button-container:hover {
          //     display: flex;
          //     text-align: center;
          //     justify-content: center;

          //   background: rgba(250, 244, 244, 0.8);
          // }
        }

        .profile-image-box:hover {
          .delete-button-container {
            opacity: 1;
            background: rgba(250, 244, 244, 0.8);
          }
        }
        .profileimg-upload-button {
          color: $orangeButton;
          border-color: $orangeButton !important;
          height: 50px;
          align-self: center;
          margin-left: 15px;
        }
      }

      .about-title {
        padding: 15px 0;
      }
    }
  }

  //   .myDivClass a:visited {
  //     color: white;
  //   }
}

@media (min-width: 768px) {
  .profile-edit-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .profile-edit-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .profile-edit-container {
    width: 1170px;
  }
}

//      color: #fff;
// background-color: #f7a800;
// border-color: #f7a800;
