// @import "../../../../sassStyles/variables";
@import "../../../sassStyles/variables";

.search-results-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  overflow: hidden !important;

  .found-homes-title {
    //change to like 70
    padding: 20px 10px 20px 20px;
  }

  // style={{backgroundColor: displayCount > 0 ? "rgba(232,87,16,.15)": "white", }}
  .modal-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $filter-border;
    border-top: 1px solid $filter-border;
    margin: 20px 1.5vw 20px 1.5vw;
    padding: 5px 0px;

    .filter-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $orangeButton;
      margin-left: 40px;
      transition: all 0.4s ease;
      border-radius: 0px;
    }
    .filter-button-active {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $darkerOrange;
      margin-left: 40px;
      background-color: rgba(232, 87, 16, 0.15);
      border: 1px solid $darkerOrange;
      border-radius: 0px;
    }

    .filter-button:hover {
      background-color: rgba(221, 165, 11, 0.15);
    }
    .filter-button-active:hover {
      background-color: #fff;
    }
    .reset-filters {
      border: none;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $panel-heading;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-right: 40px;
      padding: 6px 8px;
    }

    .reset-filters:hover {
      color: $darkerOrange;
    }
  }

  .map-container {
    width: 35vw;
    margin-top: 0px;
    height: 100%;
    position: fixed;
    right: 0 !important;
    // padding: 2em;
    padding-bottom: 6px;
    .map-wrapper {
      // height: 100%;
      height: calc(100% - 10px);
    }
  }

  .all-homes-container {
    width: 65vw !important;
    // margin-top: 40px !important;
    height: 100%;
    overflow-y: scroll;
    // padding-bottom: 60px !important;

    .homes-grid-container {
      padding: 0px 1.5vw 15px 1.5vw;
    }
    .found-home-container {
      //   width: 40%;
      border: 1px solid $faded-border;
      border-radius: 4px;
      z-index: 20;
      // padding-top: 2px;

      .home-image-container {
        height: 280px;
        width: 100%;
        border-radius: 5px 5px 0 0;
      }

      .user-text-box {
        display: flex;
        flex-direction: column;
        padding-left: 12px;

        .location-text {
          display: flex;
          margin: 0;
          font-size: 15px;
          padding-bottom: 5px;
        }
      }
    }
    .found-home-container:hover {
      cursor: pointer;
    }
  }

  .user-image {
    margin: 5px 0 0 5px;
    width: 60px;
    height: 60px;
    border: 1px solid #d1cece;
    object-fit: cover;
    border-radius: 50%;
  }

  .user-home-text {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 17px;
  }
  .home-info-container {
    height: 160px;
    width: 250px;
    // overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 8px;

    .gm-style-iw-d {
      // overflow-x: hidden !important;
      overflow: hidden !important;
    }

    .gm-style-iw-c {
      padding: 5px 5px 5px 5px !important;
    }

    .user-images-container {
      border-radius: 5px;
    }

    .home-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // margin-top:15px;
      height: 35px;
      align-items: center;
    }

    .sleeps-text {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }

  .home-info-container :hover {
    cursor: pointer;
  }

  .css-1jxo1v3 {
    width: 60%;
    max-width: 550px;
    //this works, reduces size
    padding: 15px !important;
  }
  // .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  //   top: 76px !important;
  //   max-height: calc(100% - 72px) !important;
  // }

  // .css-1s2sqgp{
  //   //for filter box
  // }

  .filter-box-container ul {
    max-height: 300px;
  }

  .pagination {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
    font-size: 18px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      margin: 0 5px 0 5px;

      // cursor: pointer;
    }
    // .active > a {
    //   // border-color: $darkerOrange;
    //   color: #fff;
    // }
    li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $darkerOrange;
      transition: all 0.2s ease-in;
      border-radius: 100%;
      padding: 5px 10px;
      width: 34px;
      height: 34px;
      outline: none;
      cursor: pointer;
    }
    li:hover a {
      transform: scale(1.1);
    }
    .previous-link,
    .next-link {
      margin: 0 20px 0 20px;
      transition: all 0.3s ease;
      width: 120px;
      border: none;

      a {
        width: 100%;
        border: none;
      }

      .disabled-link {
        color: $faded-border;
        cursor: default;
      }
    }

    .previous-link:hover,
    .next-link:hover {
      // transform: scale(1.2);
    }

    .previous-link.disabled:hover a,
    .next-link.disabled:hover a {
      transform: scale(1);
    }

    // .previous:hover,
    // .next:hover {
    //   transform: scale(1.2);
    // }

    .active {
      //  width:44px;
      //  height:44px;
      transform: scale(1.1);
      transition: all 0.4s ease;
      color: #fff;
      background-color: $darkerOrange;
      // width:44px;
      // height:100%;
      border-radius: 100%;
      // border-color: $darkerOrange;
      outline: none;
      border: 1px solid $darkerOrange;
    }
    .active:hover a {
      transform: scale(1);
    }
    // li:hover ~.active{
    //   background-color: #fff;
    //   // color: $darkerOrange;
    //   border: 1px solid $darkerOrange;
    //   color: $darkerOrange;

    // }

    // .active:hover {
    //   background-color: #fff;
    //   // color: $darkerOrange;
    //   border: 1px solid $darkerOrange;
    // }

    // .active:hover a {
    //   color: $darkerOrange;
    // }

    .active > a,
    .active > span,
    .active > span:hover,
    .active > a:focus,
    .active > span:focus {
      transition: all 0.4s ease;
      color: #fff;
      // background-color: $darkerOrange;
      // width:44px;
      // height:100%;
      // border-radius: 100%;
      // border-color: $darkerOrange;
      outline: none;
      // border: 1px solid $darkerOrange;
    }
    // .active > a:hover {
    //   background-color: #fff;
    //   color: $darkerOrange;
    //   border: 1px solid $darkerOrange;
    // }

    li > a,
    li > span {
      color: $darkerOrange;
    }
    // .pagination > li:first-child > a,
    // .pagination > li:first-child > span,
    // .pagination > li:last-child > a,
    // .pagination > li:last-child > span {
    //   border-radius: unset;
    // }
  }
}
.search-box-container {
  display: flex;
  margin-left: 20px;
  .search-box-container-hidden {
    display: none;
  }

  // .search-box {
  //   margin: 0px 10px 0px 20px;
  //   // border: none;
  //   font-size: 16px;
  //   border: 1px solid $border-color-light;
  //   border-radius: 3px;
  //   padding-left: 12px;
  //   width: 220px;
  //   padding: 10px;
  //   opacity: 0.7;
  // }
  .search-box {
    // border: none;
    margin: 0px 10px 0px 20px;

    font-size: 16px;
    border: 1px solid $faded-border;
    // border-radius: 3px;
    width: 220px;
    padding: 10px;
    opacity: 0.7;
  }
  .search-box:hover {
    // border: 1px solid  $turquoise-faded;
    box-shadow: 0 0 2px $light-blue;
  }
  .search-box:focus {
    outline: none;
    // border: 1px solid  $turquoise-faded;
    box-shadow: 0 0 3px $light-blue;
  }

  .search-box::placeholder {
    color: $turquoise;
    opacity: 0.7;
    // opacity: 0.6;
  }

  .submit-search {
    color: $darkerOrange;
    border-color: $faded-border;
    // border-color: $darkerOrange;
    transition: all 0.3s ease;
    border-radius: 0px;
  }

  .submit-search:hover {
    background-color: #ffffff;
    border-color: $darkerOrange;
  }
}
// .search-results-container::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */
// }

@media (max-width: 1024px) {
  .search-results-container {
    .all-homes-container {
      width: 100% !important;
      // margin-top: 40px !important;
      height: 100%;
      overflow-y: scroll;
      // padding-bottom: 60px !important;
    }

    .map-container {
      display: none;
    }
  }

  .homes-grid-container {
    padding-bottom: 15px;
  }
}

.details-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  row-gap: 1em;
  border-bottom: 1px solid #e3e3e3;
  // column-gap: 1em;
  // display: flex;
  // flex-direction: row;
  // width: 100%;
  // height: 250px;
  // flex-wrap: wrap;

  .detail-container {
    margin-left: 8px;
    margin-right: 8px;
    // width: 30%;
    ul {
      max-height: 400px;
    }
  }

  .home-type-checkbox-container {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.amneties-container {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; // padding: 20px;
  border-bottom: 1px solid #e3e3e3;
  // background-color: aqua;
}

.lifestyle-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .details-title {
    align-self: center;
    margin: 12px 0 12px 0;
  }
  .details-container {
    display: flex;
    flex-direction: column;

    .detail-container {
      width: 60vw;
      align-self: center;
    }

    .home-type-checkbox-container {
      align-self: center;
    }
  }

  .amneties-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 15px 0 15px;
  }
  .lifestyle-container {
    flex-direction: column;
    margin: auto;
  }
}
