// @import "../../../sassStyles/variables";

.about-container {
  margin-top: 46px;

  .title {
    padding: 15px 15px 15px 15px;
    color:$panel-heading;
  }

  .under-title {
    padding: 5px 0 15px 15px;
    color:$darkerOrange;
  }

  .info-container {
    padding: 20px 30px 30px 30px;
  }
  .steps-title {
      font-size: 22px;
    color:$orangeButton;
  }

  .steps-container {
    padding: 10px 10vw 20px 10vw;

    display: grid;
    grid-template-columns: 50% 50%;
  }

  .steps-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .step-text {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .about-container {
    .steps-container {
      padding: 10px 5vw 20px 5vw;

      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}


@media (max-width: 700px) {
    .about-container {
      .steps-container {
        padding: 10px 5vw 20px 5vw;
  
        display: grid;
        grid-template-columns:  100%;
      }


      .step-text{
          margin: 20px 10px 20px 10px; 
      }
    }
.steps-image{
    margin:15px 0 15px 0;
}

  }
  