// @import '../../../sassStyles/variables';
@import "../../../../sassStyles/variables";
#justcolor {
  color: rgb(182, 119, 2);
}

.found-profile-container {
  // overflow-y: scroll;
  width: 100%;
  height: 100vh;
  // background-color: blueviolet;
}

.top-view-container {
  display: flex;
  //  height: 50vw !important;
  // height: calc(100% - 56px);
  // margin-left: 13vw
  margin-right: 13vw;
  width: 100%;
  height: calc(100% - 56px);
  //   margin-left: 150px;
  //   margin-right: 150px;
  // max-height: 881px;
  margin-top: 56px;
  // border-right: 1px solid rgb(94, 90, 90);
  // border-left: 1px solid rgb(94, 90, 90);
  //   box-shadow: 3px 0px 0px 0 rgba(0, 0, 0, 0.2),
  //     -3px 0px 0px 0 rgba(0, 0, 0, 0.2);
  // border-radius:  2px;

  .found-home-img-container {
    border: none !important;
    //   margin-top:40px;
    width: 70%;
    height: 100%;
  }

  .found-profile-homeimg {
    box-shadow: -3px 0px 5px 0 rgba(0, 0, 0, 0.2);
    // width: auto !important;
    // height: auto !important;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .found-profile-homeimg:hover {
    cursor: pointer;
  }
}

.carousel-wrapper-outside {
  position: fixed;
}

.carousel-wrapper-outside-close {
  // margin-top:40px;
  // animation-name: closeOpacity;
  // animation-duration: 500ms;

  // transition: ease-in 2s linear;
  position: fixed;
  height: 100% !important;
}

@keyframes appearanceOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes closeOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.carousel-wrapper-custom {
  position: fixed !important;
  z-index: 1000 !important;
  bottom: 0px;
  //   top:40px;
  left: 0;
  width: 100%;
  // height: 100%;
  //  background:rgba(255, 255, 255, 0.9);
  background-color: rgba(43, 40, 40, 0.9);
  display: flex;
  flex-direction: column;
  // flex-wrap:  wrap ;

  //  max-width: 100%;
  //  padding-right: 8px;
  height: 100%;
  width: 100%;

  .close-carousel {
    right: 0;
    // width: 30px;
    align-self: flex-end;
  }

  .close-carousel:hover {
    cursor: pointer;
  }
  .carousel-root {
    height: 100%;
  }

  .carousel.carousel-slider {
    height: 85% !important;
  }
}

.carousel-image-container {
  height: 100%;
  width: 100%;
}

.carousel-image {
  // padding-top:40px;
  width: auto !important;
  height: auto !important;
  max-height: 100%;
  object-fit: cover;
  max-width: 85% !important;
  // height: 450px;

  // object-fit: contain;
}

.carousel {
  display: flex !important;
  justify-content: center;
}

.thumbs-wrapper {
  //   width: 100%;
  display: flex !important;
  justify-content: center;
  margin: 10px 0 20px 0 !important;
}

li.thumb {
  display: flex !important;
  justify-content: center !important;
  border: 3px solid #333 !important;
  margin-bottom: 8px !important;
}
li.thumb.selected {
  display: flex !important;
  justify-content: center !important;
  border: 3px solid rgb(255, 255, 255) !important;
  margin-bottom: 8px !important;
}

.thumbs {
  display: flex !important;
  // justify-content:center !important;
  padding-left: 0 !important;
}

.carousel-root {
  max-height: 100%;
}

//for user  column instead of inline change the class then adjust class with media query
.user-column {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  background-color: #f4f4f4;
  display: flex;
  padding: 15px;
  // max-height: 70vh;
}
.Update-profile-container {
  display: flex;
  justify-content: center;
  .edit-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    height: 40px;
    width: 50%;
    color: #f4f4f4;
    font-size: 18px;
    background-color: #068295;
    border-radius: 4px;
    // width:350px;
    .edit-profile-icon {
      color: $orangeButton;
    }
  }

  .edit-profile-button:hover {
    background-color: $orangeButton;

    .edit-profile-icon {
      color: $turquoise;
    }
  }
}
.scrolled-column {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 3;
  top: "40px";
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2),
    -3px 0px 5px 0 rgba(0, 0, 0, 0.2);
  right: 0px;
  // height: 70vh;
  width: 20%;
  min-height: 50vh;
  display: flex;
  padding: 15px;
  .edit-profile-button {
    width:70%;
    font-size: 16px;
  }
}

// background-color: rgb(252, 218, 175);
.profile-info-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(204, 203, 203);

  .home-title {
    font-size: 2vw;
  }
  p {
    font-size: 1.2vw;
  }
}

.profile-pic-container {
  height: 8vw;
  width: 80px;

  max-height: 80px;
  max-width: 80px;
  margin: 9px;

  .profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 60px;
  }
}

.hometype-area {
  font-size: 21px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(204, 203, 203);
}

.about-home-section {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(204, 203, 203);

  .about-home-title {
    font-size: 20px;
  }

  .about-home-text {
    font-size: 17px;
  }
}

.found-home-info-section-container {
  background-color: #f4f4f4;
  padding-right: 20%;

  .grid-container {
    padding: 0px 100px 0px 100px;

    .my-grid-column {
      padding: 25px 10px 0px 10px;

      .info-section-box {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 20px;
        margin-bottom: 25px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        width: 100%;

        .info-section-title {
          display: flex;
          align-items: center;
          font-size: 20px;
          padding-bottom: 5px;
        }

        .user-amneties-wrapper {
          display: flex;
          flex-wrap: wrap;
          // padding-left: 2rem;

          .user-amnety-box {
            padding: 0 10px 10px 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 33.3%;
            //make 50% in media query
          }

          .amnety-text {
            flex-wrap: wrap;
          }
        }

        .icon-and-detail {
          display: flex;
          align-items: center;
        }

        .details-list {
          list-style-type: none;
          margin-bottom: 0;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #cccbcb;
            padding-bottom: 8px;
            padding-top: 8px;
          }
        }

        .icon {
          margin-right: 8px;
          width: 40px;
          height: 40px;
          // width:36px;
          border-radius: 160px;
          padding: 6px;
          // background-color:#9b0000;

          background-color: #f4f4f4;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .grid-container {
    padding: 0px 20px 0px 20px !important;
  }
  .Update-profile-container {
    .edit-profile-button {
      font-size: 16px;
    }
  }

  // dfssvbds {
  //   background-color: lightblue;
  // }
}

@media (max-width: 1024px) {
  .grid-container {
    padding: 0px 20px 0px 20px !important;
  }
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .user-column {
    .profile-info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name-email-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .profile-pic-container {
        height: 100px !important;
      }
    }
    .about-home-section {
      p {
        font-size: 15px !important;
        margin-bottom: 3px !important;
      }
    }

    .contact-section {
      p {
        font-size: 15px !important;
        margin-bottom: 3px !important;
      }
    }
  }

  .found-home-info-section-container {
    .user-amneties-wrapper {
      .user-amnety-box {
        // padding: 0 10px 10px 0;
        // display: flex;
        // flex-wrap: nowrap;
        // align-items: center;
        width: 50% !important;
        //make 50% in media query
      }
    }
  }
}

@media (max-width: 1024px) {
  .top-view-container {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    height:auto; 
    // height: 100% !important;

    .found-home-img-container {
      border: none !important;
      //   margin-top:40px;
      width: 100% !important;
      height: 50vw !important;
      // max-height: 70vh;
    }
    .Update-profile-container {
      .edit-profile-button {
        width:50%; 
        font-size: 18px;
      }
    }

    .user-column {
      display: flex;
      // flex-direction: row;
      box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      background-color: #f4f4f4;
      display: flex;
      padding: 15px;
      min-height: 40vh;
      // max-height: 100%;
    }

    .scrolled-column {
      display: flex;
      // flex-direction: row;
      position: relative;
      // background-color:rgba(255, 255, 255, 0.9);
      // position: fixed;
      // z-index: 3;
      // top: "40px";
      min-height: 40vh;
      box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.2),
        -3px 0px 5px 0 rgba(0, 0, 0, 0.2);
      // right: 0px;
      // height: 45vh;
      width: 100%;
      padding: 15px;
    }

    .profile-info-container {
      .profile-pic-container {
        height: 100px !important;
      }

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }
    }

    .about-home-section {
      padding: 20px 20px 20px 20px;
    }
    .contact-section {
      padding: 20px 20px 20px 20px;
    }
  }
  .found-home-info-section-container {
    padding-right: 0;

    .user-amneties-wrapper {
      .user-amnety-box {
        // padding: 0 10px 10px 0;
        // display: flex;
        // flex-wrap: nowrap;
        // align-items: center;
        width: 50% !important;
        //make 50% in media query
      }
    }
  }
}
