$orangeButton: #f7a800;
$shadedOrange: #de9700;
$darkerOrange: #e85710;
$turquoise: #068295;
$turquoise-faded: rgb(6, 130, 149, 0.3);
$redError: #d80505;
$light-blue: #3b99fc;
$font-color: #475257;
$faded-font-color: #8b8b8b;
$panel-heading: #191d1f;
$add-image-faded: #b3b3b3;
$add-image-hover: #7d7d7d;
$light-gray-background: #f4f4f4;
$border-color-light: #d1cece;
$faded-border: #e3e3e3;
$filter-border: #f1f1f1;


